.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 0;
}

.page__header {
  margin-bottom: 40px;

  @include laptop {
    margin-bottom: 32px;
  }

  @include tablet {
    margin-bottom: 20px;
  }
}

.page__title {
  margin-bottom: 40px;

  @include laptop {
    margin-bottom: 32px;
  }

  @include tablet {
    margin-bottom: 20px;
  }
}

.page__main {
  margin-bottom: 80px;
}

.page__footer {
  margin-top: auto;
}

.page__search-bar {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
