.menu__list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 8px;
  padding-bottom: 0;
  margin-left: -12px;
  margin-right: -12px;
}

.menu__link {
  display: block;
  @include text-16-500;
  text-transform: uppercase;
  padding: 12px 20px 20px 20px;
}
